{% extends "@ezdesign/pagelayout.html.twig" %}

{% trans_default_domain 'maison' %}

{% block page_head %}
    {% set title = ez_content_name(content) %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <section class="page py-5">
        <div class="container py-5">
            <div class="row">
                <div class="col-lg-6 pr-lg-5 border-right">
                    <div class="form form--contact pr-lg-5">
                        <h1>{{ ez_render_field(content, 'title') }}</h1>
                        {{ form_start(form) }}
                        <div class="form-inline mt-5">
                            <div class="form-group">
                                {{ form_widget(form.firstName) }}
                                <div class="form-error">
                                    {{ form_errors(form.firstName) }}
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form_widget(form.lastName) }}
                                <div class="form-error">
                                    {{ form_errors(form.lastName) }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group mt-5">
                            {{ form_widget(form.email) }}
                            <div class="form-error">
                                {{ form_errors(form.email) }}
                            </div>
                        </div>
                        <div class="form-group mt-5">
                            {{ form_label(form.message) }}
                            {{ form_widget(form.message) }}
                            <div class="form-error">
                                {{ form_errors(form.message) }}
                            </div>
                        </div>
                        <div class="mt-5">
                            <button type="submit" class="btn btn--blue btn--lg mt-5">
                                {{ 'maison.send_message'|trans|desc('Send Message') }}
                            </button>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
                <div class="col-lg-6 pl-lg-5 mt-xs-5">
                    <div class="pl-lg-5">
                        {% include '@ezdesign/parts/find_professionals.html.twig' %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
