{% extends "@ezdesign/pagelayout.html.twig" %}

{% trans_default_domain 'maison' %}

{% block page_head %}
    {% set title = ez_content_name(content) %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="page">
        <section class="section banner banner--full-width banner--map">
            <div class="banner__image">
                {{ ez_render_field(content, 'banner') }}
            </div>
            <div class="banner__title transform-center container text-center">
                <h1 class="banner__heading">
                    {{ ez_render_field(content, 'title') }}
                </h1>
            </div>
        </section>
        <section class="section section--standard mt-5">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2 class="text-center heading heading-sm mt-4">
                            {{ 'maison.all_maison_stores'|trans|desc('All Maison Stores') }}
                        </h2>
                    </div>
                </div>
                <div class="row mt-4">
                    {% if stores is defined and stores.searchHits|length > 0  %}
                        {% for store in stores.searchHits %}
                            <div class="col-lg-4 col-md-6 mb-4">
                                {{ render_esi(controller('ez_content:viewAction', {
                                    locationId: store.valueObject.contentInfo.mainLocationId,
                                    viewType: 'card'
                                })) }}
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </section>
        <section class="section section--standard my-7">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-12">
                        <h4 class="heading-lg">
                            {{ 'maison.find_a_professional_to_help_you_with'|trans|desc('Find a professional to help you with') }}
                        </h4>
                        <h5 class="heading-sm mt-4">
                            {{ 'maison.delivery_assembling_painting_renovation_etc.'|trans
                            |desc('delivery, assembling, painting, renovation, etc.') }}
                        </h5>
                        <a href="#" class="btn btn--lg btn--blue mt-5">
                            {{ 'maison.find_professionals'|trans|desc('Find Professionals') }}
                        </a>
                    </div>
                    <div class="col-md-4 col--img d-lg-block d-none">
                        <img src="{{ asset('assets/images/store-col-img1.png') }}">
                    </div>
                    <div class="col-md-4 col--img d-lg-block d-none">
                        <img src="{{ asset('assets/images/store-col-img2.png') }}">
                    </div>
                </div>
            </div>
        </section>
        <section class="section section--standard my-5">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-lg-center my-5">
                        <h4 class="heading-lg">{{ 'maison.become_a_maison_pro'|trans|desc('Become a Maison Pro') }}</h4>
                        <p class="mt-4">
                            {{ 'maison.we_are_always_looking_for_outstanding_local_contractors!'|trans|desc( 'We\'re always looking for outstanding local contractors!')|raw }}
                        </p>
                        <a href="" class="btn btn--lg btn--blue mt-4">
                            {{ 'maison.apply_now'|trans|desc('Apply Now') }}
                        </a>
                        <p class="mt-5">
                            {{ 'maison.click_here_to_view_maison_licensing_information'|trans({
                                '%link_open%': '<a href="#">',
                                '%link_close%': '</a>',
                            })|desc('Click here to view %link_open% Maison licensing information %link_close%')|raw }}
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
