<h4 class="heading-lg">{{ 'Find a professional to help you with'| trans }}</h4>
<h5 class="heading-sm py-5 mb-0">{{ 'delivery, assembling, painting, renovation, etc.'| trans }}</h5>
<div class="d-inline-flex align-items-center">
    <img src="{{ asset('assets/icons/services.svg') }}" title="services-icon" alt="services-icon">
    <p class="heading-md font-weight-light pl-3 mb-0">Trustworthy and fast services</p>
</div>
<div class="d-inline-flex align-items-center mt-2">
    <img src="{{ asset('assets/icons/one-place.svg') }}" title="one-place-icon" alt="one-place-icon">
    <p class="heading-md font-weight-light pl-3 mb-0">Everything your business needs in one central place</p>
</div>
<div class="mt-5">
    <a href="#" class="btn btn--lg btn--blue mt-3">{{ 'Find Professionals'|trans }}</a>
</div>
