{% trans_default_domain 'maison' %}

<h4 class="heading-lg">
    {{ 'maison.find_a_professional_to_help_you_with'|trans|desc('Find a professional to help you with') }}
</h4>
<h5 class="heading-sm py-5 mb-0">
    {{ 'maison.delivery_assembling_painting_renovation_etc.'|trans
    |desc('delivery, assembling, painting, renovation, etc.') }}
</h5>
<div class="d-inline-flex align-items-center">
    <img src="{{ asset('assets/icons/services.svg') }}" title="services-icon" alt="services-icon">
    <p class="heading-sm font-weight-light pl-3 mb-0">
        {{ 'maison.trustworthy_and_fast_services'|trans|desc('Trustworthy and fast services') }}
    </p>
</div>
<div class="d-inline-flex align-items-center mt-2">
    <img src="{{ asset('assets/icons/one-place.svg') }}" title="one-place-icon" alt="one-place-icon">
    <p class="heading-sm font-weight-light pl-3 mb-0">
        {{ 'maison.everything_your_business_needs_in_one_central_place'|trans|desc('Everything your business needs in one central place') }}
    </p>
</div>
<div class="mt-5">
    <a href="/professionals" class="btn btn--lg btn--blue mt-3">{{ 'maison.find_professionals'|trans|desc('Find Professionals') }}</a>
</div>
