{% trans_default_domain 'professionals' %}

<div class="col-lg-4 mb-4">
    <div class="card card--professional p-1 h-100">
        <a href="{{ ez_path(location) }}" class="card__link">
            <div class="card__inspirations">
                {% set inspirations = ez_field_value(content, 'inspirations').destinationContentIds|slice(0, 3) %}

                {% for inspiration in inspirations %}
                    {% set inspirationContent = app_content_by_content_id(inspiration) %}
                        {{ ez_render_field(inspirationContent, 'image', {
                            parameters: {
                                class: 'img-fluid'
                            }
                        }) }}
                {% endfor %}
            </div>
            <div class="card__image img-fluid-container">
                {{ ez_render_field(content, 'photo', {
                    parameters: {
                        alias: 'professional_photo_small',
                        class: 'img-fluid'
                    }
                }) }}
            </div>
            <div class="card__text text-center p-4">
                <div class="card__title">
                    <h3 class="card__heading heading-sm mb-0">{{ ez_render_field(content, 'name') }}</h3>
                    {{ ez_render_field(content, 'intro') }}
                </div>
                <div class="card__desc">
                    {{ ez_render_field(content, 'description')|previewPremiumContent(1) }}
                </div>
            </div>
        </a>
    </div>
</div>
