{% trans_default_domain 'maison' %}

<p>
    {{ 'maison.you_have_a_new_message_from_maison.'|trans|desc('You have a new message from Maison') }}
</p>
<p>
    <strong>{{ 'maison.from'|trans|desc('From') }} :</strong> {{ contact.from }}
    <strong>{{ 'maison.message'|trans|desc('Message') }} :</strong>

    {{ contact.message|nl2br }}
</p>
