{% for item in menuItems %}
    <div class="col-md-12">
        <h2 class="catalog_name">{{ item.name }}</h2>
        <div class="row">
            {% for subitem in item.children %}
                <div class="col-md-3">
                    {{ render_esi(controller('ez_content:viewAction', {
                        locationId: subitem.locationId,
                        viewType: 'catalog_card'
                    })) }}

                    <ul class="subsubitems">
                        {% for subsubitem in subitem.children %}
                            <li data-location-id="{{ subsubitem.locationId }}">
                                <a href="{{ path('ez_urlalias', {'locationId': subsubitem.locationId}) }}">
                                    {{ subsubitem.name }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
        </div>
    </div>
{% endfor %}
